//
// Generic editor styles.
//
workspace-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow: visible;
  .editor-font;
}

.editors {
  position: relative;
  .scrollable;
}
