// Imports
// Highest precedence at the bottom.

// Variable declarations.

// Styles

.tab-view {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type: none;
  margin: 0 0 0 0;
  // border-bottom: 1px solid @panel-border-color;
  cursor: default;
}

.tab-view-item {
  position: relative;
  top: 0;
  flex: 0 0 auto;
  min-width: 5em;
  max-width: 20em;
  border-right: 1px solid @panel-border-color;
}

.tab-view-label {
  display: inline-block;
  // height: 3em;
  line-height: 2.5em;
  font-size: 11px;
  padding-left: 1em;
  text-align: center;
  vertical-align: middle;
  transition: all 0.15s ease;
}

.tab-view-label:hover {
  color: lighten(@workspace-text-color, 20%);
}

.tab-close-button {
  display: inline-block;
  right: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all 0.15s ease;
}

.tab-close-button:hover {
  color: mix(lighten(@workspace-text-color, 20%), red);
}

.tab-view .active {
  border-bottom: 0px;
  background-color: @editor-background-color;
}
