//
// Text Editor styles.
//
text-editor {
  flex: 0 0 auto;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
  color: @editor-text-color;
  background-color: @editor-background-color;
}

text-editor.active {
  display: flex;
}

text-editor.hidden {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.editor-container {
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1em;
}

.editor-gutter {
  display: flex;
  flex: 0 0 auto;
  cursor: default;
}

.editor-contents {
  display: flex;
  flex: 1 1 0%;
  cursor: text;
}

.line-numbers {
  display: block;
  position: relative;
  min-width: 1em;
  min-height: 100%;
}

.line-number {
  position: relative;
  display: block;
  white-space: nowrap;
  text-align: right;
  padding-left: 0.5em;
  padding-right: 2em;
  line-height: @workspace-line-height;
  font-size: 1em;
  vertical-align: middle;
  color: lighten(@editor-background-color, 10%);
}

.lines {
  display: block;
  flex: 1 1 0%;
  min-height: 100%;
}

.line {
  position: relative;
  display: block;
  min-width: 100%;
  white-space: pre;
  line-height: @workspace-line-height;
}
