//
// Workspace styles.
//
workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: @workspace-background-color;
  color: @workspace-text-color;
  .workspace-font;
  line-height: @workspace-line-height;
}

workspace-panel {
  display: flex;
}

workspace-panel.top, workspace-panel.bottom {
  display: block;
}

workspace-panel.middle {
  display: flex;
  flex: 1 1 0%;
}

workspace-panel.horizontal {
  display: flex;
  flex: 1 1 0%;
}

workspace-panel.horizontal, workspace-panel.vertical {
  position: relative;
}

workspace-panel.vertical {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  position: relative;
}

workspace-panel.left {
  display: flex;
}
